.block {
    width: 100%;
    height: 480px;
    background: #131313;
    position: relative;
    overflow: hidden;
}

.avatarImage {
    width: 730px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hiddenLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.title {
    position: absolute;
    top: calc(50% - 32px);
    left: 0;
    transform: translate(0, -50%);
    font-size: 64px !important;
    color: #ffffff !important;
    width: 100%;
    text-align: center;
}

.subTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 32px !important;
    color: #ffffff !important;
    margin-top: 48px;
    white-space: nowrap;
}

@media screen and (max-width: 407px) {
    .subTitle {
        margin-top: 96px;
    }
}

.shareBlock {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.icon {
    font-size: 2.5em !important;
    color: #b8c5cc;
}

.aboutBlock {
    padding: 32px 0 0 0;
    margin: 0 auto;
}

.langBlock {
    padding: 16px 0 32px 0;
    margin: 0 auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.contactElement {
    color: rgba(100, 100, 100, 1);

    & > a {
        color: rgba(100, 100, 100, 1);
    }

    &:hover {
        color: #c8c8c8;

        & > a {
            color: white;
        }
    }
}

.linkedIn {
    display: none !important;
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 64px;
    height: 64px;
}

@media print {
    .block {
        height: 120px;
    }

    .title {
        font-size: 32px !important;
    }

    .avatarImage, .shareBlock {
        display: none;
    }

    .subTitle {
        width: 100%;
        text-align: center;
        left: 0;
        transform: translate(0, -16px);
        margin-top: 40px;
    }

    .contactElement, .contactElement > a {
        color: white;
    }

    .linkedIn {
        display: block !important;
    }
}
