:root, body {
    font-family: "Playfair Display", Georgia, serif !important;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    hyphens: auto;
    text-wrap: pretty;
}

h1,h2,h3 {
    font-family: "Playfair Display", Georgia, serif !important;
    font-weight: 600 !important;
}
